<h1>Hello there!</h1>
<p>This is an AC server, which is running in a sort of wrapping thing providing more information about current race state.</p>
<p>Server name: {{name}}.<br>
Connected users: {{clients}}.</p>